<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner" style="height: 95vh; overflow: hidden">
    <div class="carousel-item active">
      <img
        ngSrc="https://unsplash.it/1792/1390"
        width="1792"
        height="1390"
        priority
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" style="height: 95vh; overflow: hidden">
      <img
        src="https://unsplash.it/1792/1390"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item" style="height: 95vh; overflow: hidden">
      <img
        src="https://unsplash.it/1792/1390"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExample"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
