<div class="d-flex justify-content-center">
  <div class="card m-1 border-0" style="width: 18rem">
    <div class="card-body text-center">
      <h5 class="card-title">icon here</h5>
      <p class="card-text">Comunity Supprt</p>
    </div>
  </div>
  <div class="card m-1 border-0" style="width: 18rem">
    <div class="card-body text-center">
      <h5 class="card-title">icon here</h5>
      <p class="card-text">Higher Education Sponsorship</p>
    </div>
  </div>
  <div class="card m-1 border-0" style="width: 18rem">
    <div class="card-body text-center">
      <h5 class="card-title">icon here</h5>
      <p class="card-text">Special Education Sponsorship</p>
    </div>
  </div>
</div>
