<div class="container">
  <div class="row">
    <div class="card col-12 p-0" style="height: 45vh; overflow: hidden">
      <img
        class="card-img-top"
        src="https://unsplash.it/600/1200"
        alt="Card image cap"
      />
    </div>
  </div>
  <div class="row">
    <div class="col-12 card p-5">
      <h2 class="display-2 text-center p-3">We've love to connect with you!</h2>
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label"
            >Email address</label
          >
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
          />
          <div id="emailHelp" class="form-text">
            We'll never share your email with anyone else.
          </div>
        </div>
        <div class="mb-3">
          <label for="messageTextArea" class="form-label">Message</label>
          <textarea
            class="form-control"
            name=""
            id="messageTextArea"
            cols="30"
            rows="10"
          ></textarea>
        </div>
        <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" />
          <label class="form-check-label" for="exampleCheck1"
            >Check me out</label
          >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>
<app-multiple-items-slider></app-multiple-items-slider>
