<div class="container">
  <div class="row">
    <div class="col-sm-2 col-md-4">
      <div class="col-12">
        <div
          class="card col-sm-10 col-md-8 p-0"
          style="height: 22vh; overflow: hidden"
        >
          <img
            class="card-img-top"
            src="https://unsplash.it/500/500"
            alt="Card image cap"
          />
        </div>
      </div>
      <div class="col-12">
        <div
          class="card col-sm-10 col-md-8 p-0"
          style="height: 22vh; overflow: hidden"
        >
          <img
            class="card-img-top"
            src="https://unsplash.it/500/500"
            alt="Card image cap"
          />
        </div>
      </div>
      <div class="col-12">
        <div
          class="card col-sm-10 col-md-8 p-0"
          style="height: 22vh; overflow: hidden"
        >
          <img
            class="card-img-top"
            src="https://unsplash.it/500/500"
            alt="Card image cap"
          />
        </div>
      </div>
      <div class="col-12">
        <div
          class="card col-sm-10 col-md-8 p-0"
          style="height: 22vh; overflow: hidden"
        >
          <img
            class="card-img-top"
            src="https://unsplash.it/500/500"
            alt="Card image cap"
          />
        </div>
      </div>
    </div>
    <div
      class="card col-sm-10 col-md-8 p-0"
      style="height: 90vh; overflow: hidden"
    >
      <img
        class="card-img-top"
        ngSrc="https://unsplash.it/600/1200"
        width="600"
        height="1200"
        priority
        alt="Card image cap"
      />
    </div>
  </div>
</div>
